<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Stue</title>
</head>
<body>
    <nav class="navbar">
      <a href="index.html" class="logo-link">
          <img src="det_rigtige_logo-removebg-preview.png" alt="Logo" class="logo" height="80px">
      </a>

      <ul class="nav-links">
          <li><a href="index.html">Hjem</a></li>
          <li><a href="Stue.html">Stue</a></li>
          <li><a href="#">Værelse</a></li>
          <li><a href="#">Køkken</a></li>
      </ul>
    </nav>
    <div id="app">
      <div v-for="room in rooms.filter(r => r.name == 'Stue')" :key="room.id">
        <p class="container-title">{{ room.name }}</p>
        <div class="card-container">
          <div
            class="window-card"
            v-for="window in room.windows"
            :key="window.id"
          >
            <p class="card-title">{{ window.name }}</p>
            <p class="window-status">
              Status: {{ window.isOpen ? "Åbent" : "Lukket" }}
            </p>
            <button
              :style="{ backgroundColor: window.isOpen ? '#dc3545' : '#28a745' }"
              @click="window.isOpen = !window.isOpen"
              class="toggle-open-status"
            >
              {{ window.isOpen ? "Luk vindue" : "Åbn vindue" }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
</body>
</html>