body {
  font-family: helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 251, 253);
}

.container-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
  
}

.window-card {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  
  margin: 16px;
  width: 180px;
  height: 110px;
  transition: box-shadow 0.3s ease;
}

.toggle-open-status {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-open-status:hover {
  scale: 1.05;
}

.toggle-open-status:active {
  scale: 0.95;
}

.card-title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
}

.window-status {
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.room-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.green-button {
  background-color: #28a745;
  color: white;              
  border: none;              
  padding: 10px 20px;        
  border-radius: 4px;        
}
